{
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }],
    ["@nutui/babel-plugin-separate-import", {
      "style": "scss"
    }]
  ]
}